{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h1>About Insightly</h1>
    <p>
      Insighty is a web app that aims to convert the meaningless data into thoughtful insights. This is achieved by the built-in App "Graph", that takes a data file in CSV format and plot graphs. This Idea was inspired when the creators were discussing the data issues with some data scientists, it was found that converting the data into graphs would be beneficial to many people in many different fields.
    </p>
    <p>  
      Because most of our data are in excel rather than CSV format, Insighty has a built-in App to convert the excel files into downloadable CSV.
    </p>
    <p>    
      The future development of Insighty will add some other helpful tools, such as dynamic graphs, selecting graph type, etc...
    </p>
</div>
{% endblock %}
